/*{
  padding: 0;

  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
.header1{
margin-left: 3rem;
margin-right: 3rem;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
header{
  margin-bottom: 0.5rem;
margin-top: 0.5rem;
border-bottom: 2px solid black;
}
.menus{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  display: none;
}
.menu a{
  text-decoration: none;
  color: black;
}
.menu li{
list-style-type: none;
}
/*.news{
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr ;
}
.mainnews{
  border: 2px solid black;
  padding: 10px;
}
.subnews{
  border: 2px solid black;
  gap:2rem;
  padding: 10px;
}
.subnews img{
  width: 30%;
  height: 30%;
}
.newsarticle{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.newsarticle1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.contents{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.section1{
  margin-left: 3rem;
  margin-right: 3rem;
}

@media screen and (min-width: 768px){
  .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .newsmenu{
    display: none;
  }
  
  /*.news{
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
    
  }
  .mainnews{
    grid-row:span 3;
    border: 2px solid black;
    padding: 10px;
  }
  .subnews{
    border: 2px solid black;
    gap:2rem;
    padding: 10px;
  }
}
*/
